@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

body {
    font-family: 'Titillium Web', sans-serif;
}        

.full-width-header .rs-header .logo-part img {
    height: 100px;
}


.pagination .page-item .page-link {
    color: green;
}

.pagination .page-item .page-link:hover {
    background-color: #c3e6cb;
}

.Page .page-item.active .page-link {
    background-color: #28a745;
    border-color: #28a745;
}
.filter-btn{
    height: 50px;
    background-color: #f0f0f0;
    width: 180px;
}