@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.scroll-to-top-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0C8B51;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}




.scroll-to-top-button.visible {
  opacity: 1;
}

.App {
  padding: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-check {
  font-size: 1.3rem;
}

.post {
  display: flex;
  width: 600px;
}

.post .left-col {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
}

.post .avatar {
  width: 55px;
  height: 55px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.post .avatar-skeleton {
  width: 100%;
  height: 100%;
  line-height: 1;
}

.post .avatar img {
  width: 70%;
  height: 70%;
}

.post .right-col {
  flex: 1;
}

.post h3 {
  font-size: 1.3rem;
}

.list-item {
  width: 200px;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.list-item:not(:last-child) {
  border-bottom: none;
}


